.container_pai { 
    background-color: grey;
    height: 500px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}

.container_pai div { 
    padding: 25px;
}


#container_f1 { 
    background-color: chartreuse;
    flex-grow: 1;
}

#container_f2 {
    background-color: blue;
    order: 1;
    flex-grow: 1;
    align-self: flex-end;
}

#container_f3 { 
    background-color: chocolate;
    flex-grow: 1;
}