header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--cor-secundaria);
    padding: 30px;
    margin: 0;
    border-top: 1px solid var(--cor-cinza-escuro);
    transition: var(--transicao);

}