@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .projects {
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero {
    justify-content: center;
    text-align: center;
  }

}


@media screen and (min-width: 1025px) {
  .hero {
    flex-direction: row;
  }


}

@media screen and (max-width: 768px) {

  .skills-container,
  .services-container {
    flex-direction: column;
    align-items: center;
  }
}